@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    border-color: theme('colors.slate.700');
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: theme('colors.slate.950');
    color: theme('colors.slate.100');
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
